body {
  margin: 0px;
  flex-direction: column;
}

img {
  width: 700px;
  height: 700px;
}

header {
  background-color: black;
  color: aliceblue;
}

main {
  background-color: black;
  color: aliceblue;
}

.nav {
  background-color: lightgray;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.display-flex {
  display: flex;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center
}

.padding-gutters {
  padding: 0 20em;
}

.justify-content-space-between {
  justify-content: space-between;
}